REACT_APP_USER_API=http://localhost:8084
REACT_APP_RESTAURANT_API=http://localhost:8081
REACT_APP_ORDER_API=http://localhost:8082

# Google Identity Services (OAuth Web Client ID)
REACT_APP_GOOGLE_CLIENT_ID=
